<br/>
<br/>
<div class="row">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-12">
        <img src="/assets/logo.png" alt="Electionia - Every Vote Counts" class="img-responsive"/>
      </div>
    </div>
    <h2 style="text-align: right">Because matters of politics are rarely black and white...</h2>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="jumbotron" id="instructions">
        <h1>Electionia</h1>

        <p>Vote for the candidate of your choice and campaign against
          their opponents in this game of electoral machinations.</p>

        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to raw("Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider), class: "btn btn-inverse btn-large", id: "fbsignin" %>
            <br/>
        <% end -%>
        <br/>
      </div>

    </div>
  </div>
</div>
<hr/>
<div class="footer">
  A Ptotem &copy; Games Creation
  <br/>
  <small>Mail us at info@ptotem.com to get a copy of the Electionia Card Game</small>
</div>
