<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# electionia: http://ogp.me/ns/fb/electionia#">
    <meta property="fb:app_id" content="418175744951459" />
    <meta property="og:type"   content="electionia:candidate" />
    <meta property="og:url"    content="Put your own URL to the object here" />
    <meta property="og:title"  content="Sample Satya" />
    <meta property="og:image"  content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" />
    <meta property="og:candidate"  content="Sunny Singh" />
</head>
<body>
Rushabh
</body>
</html>



